<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobSeeker Jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <style>
        body {
            background-color: #70b9ff;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
    </style>


</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container" style="color: #63737d; size: 20px; margin-top: 10px">
    <div class="jumbotron" style="text-align: justify">
        <h1 style="color: #4b8f95">Job Seeker Website</h1>
        <br />
        <form class="form-inline my-2 my-lg-0" th:action="@{/searchJob}" method="post">
    <input class="form-control mr-sm-2" type="search" name="searchString" placeholder="Job title keywords" aria-label="Search" >
            <input type="submit" class="btn btn-info" value="Search Job"/>
        </form>
    </div>

</div>
</div>

</body>
</html>